:root{
    --cinza: #EBEBEC;
    --violeta : #8A89DC;
    --roxo: #5916D9;
    --verde: #36B56F;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cinza);
}

body, input, textarea, button {
    font-size: 1rem;
    font-family: sans-serif;
}