:root{
    --cinza: #EBEBEC;
    --preto: #272727;
    --rosa: #f86187;
    --verde: #36B56F;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cinza);
}

body, input, textarea, button {
    font-size: 1rem;
    font-family: sans-serif;
}